* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Aboreto', cursive;
    color: rgb(239, 237, 237);

}

body {
    background-image: url(./imagenes/pexels-tim-mossholder-3359733.jpg);
    min-height: 100vh;
    background-size: 100%;
}


/* Pagina de index */


header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    font-size: 33px;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


.listademenu {
    font-size: 27px;

}

.logo {
    padding: 17px 20px;
    border: rgb(207, 208, 209) 5px solid;
    border-radius: 20px;
}

a:link {
    text-decoration: none;
}

.scale:hover {
    transform: scale(1.2)
}


.carousel-inner {
    padding-top: 20px;
    padding-bottom: 60px;
}


.imagenprincipal {
    width: 100%
}

.tabla {
    width: 100%;
    background-color: rgba(99, 36, 36, 0.872);
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 3fr;
    grid-template-rows: 60px 130px 130px 130px 130px;
    grid-template-areas:
        "titulo caracteristica uso video"
        "titulo caracteristica uso video"
        "titulo caracteristica uso video"
        "titulo caracteristica uso video"
        "titulo caracteristica uso video";
    gap: 10px;
    padding: 15px;

}


.titulotexto {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(81, 7, 7);
}

.texto {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    border: 2px solid rgb(81, 7, 7);

}

.tabla__titulo {
    grid-area: titulo;

}

.tabla__caracteristica {
    grid-area: caracteristica;
}

.tabla__uso {
    grid-area: uso;
}

.videoindex {
    grid-area: video;
}

.contenidoprincipal {

    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 40px;
    width: 100%;
    height: 900px;

}


.videomuestra {
    width: 100%;
    height: 100%;

}


.promociones {
    height: 100%;
    width: 34%;
    border-radius: 2%;

}

.pie {
    padding: 25px 0px 25px 0px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    background-color: #741c14;
}

.frasepie {

    text-align: center;

}


/* Pagina NOSOTROS */

.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0 100px 0;

}

.contenido {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 50px;
    justify-content: space-around;
    justify-items: center;

}

.imgderecha {
    display: flex;
    justify-content: center;

}

.imagenderecha {
    max-width: 95%;
    height: auto;
    border-radius: 80px 20px;
    border: solid rgb(207, 208, 209) 5px;
}

.parrafo {
    padding-left: 20px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
}

.map {
    display: flex;
    justify-content: center;
}



/* Pagina Catalogo */

.menucatalogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 30px 20px;


}

.opcioncatalogo {
    display: flex;
    align-items: center;
    background-color: beige;
    width: 100%;
    height: 370px;
    border-radius: 27%;
    font-weight: bold;
    font-size: 56px;
    color: black;
    text-align: center;

}

.scale-in-center:hover {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

.tecnologia{
    display: flex;
    justify-content: center;
    padding-top: 39px;
}

.materiales {
    background: rgba(136, 35, 35, 0.612);
    width: 100%;
    height: 200px;
    text-align: justify;
    font-style: oblique;
    font-size: 23px;
    line-height: 1.8;
    padding: 0px 20px 0px 20px;
}

.boton {
    display: flex;
    justify-content: center;
    padding: 50px 0px 200px 0px;
    width: 100%;
    height: 100px;
    text-align: center;

}

.botontallas {
    width: 200px;
    height: 50px;
    background-color: cornsilk;
    padding: 10px 5px 5px 5px;
    text-decoration: none;
    font-size: 21px;
    color: #741c14;
    font-weight: bold;
    border-style: dotted;



}


/* Pagina Recomendaciones */

.contenidoresena {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 40px;
}

.resenafoto {
    position: relative;
    background-color: gainsboro;
    width: 32%;
    height: 100%;
    padding: 10px;

}

.fotocliente {
    width: 100%;
    height: 600px;
}

.resena {
    position: absolute;
    bottom: 77%;
    font-size: 19px;
    background: rgba(136, 35, 35, 0.719);
    padding: 5px 15px 5px 15px;
    border-radius: 24px;
    height: 95px;
    width: 350px;
}


/* Pagina Contacto */

.titulocontacto {
    font-size: 60px;
    padding: 30px 600px 30px 550px;
}


.cajaformulario {

    display: flex;
    text-align: justify;
    padding: 20px;
    width: 100%;
}

.formulario {
    margin: 0 auto;
    background-image: linear-gradient(rgb(133, 23, 23), transparent);
    padding: 20px;

}

.item {
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;


}


.espaciorellenador {

    background-color: rgba(164, 108, 108, 0.589);
    width: 75%;
    height: 30px;
    padding-left: 20px;

}

.boxtexto {
    height: 300px;
    width: 100%;
}

.input::placeholder {
    color: darkseagreen
}


.boton2 {
    width: 100px;
    height: 30px;
}

.select {
    width: 100%;
}


@media screen and (max-width:767px) {

    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;


    }

    .menucatalogo {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .opcioncatalogo{
    width: 100%;
    height: 200px;
    font-size: 45px;
    }

    .tecnologia {
        display: flex;
    }

    .materiales {
        background: rgb(136, 35, 35);
        width: 100%;
        height: 100%;
    }
